[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
dash-leaflet = "*"
plotly = "*"
polyline = "*"
gpxpy = "*"
haversine = "*"
isodate = "*"
pyvalhalla = "*"
dash-bootstrap-components = "*"
simplification = "*"
orjson = "*"
dash-extensions = "*"
gunicorn = "*"
pandas = "*"
urllib3 = "*"

[dev-packages]

[requires]
python_version = "3.11"
